<?xml version="1.0"?>

<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json; charset=utf-8" />
    </staticContent>
  </system.webServer>
</configuration> 
